Django>=4.2,<5.0
gunicorn
joblib
numpy
pandas
scikit-learn==1.6.0
scipy
openpyxl  # For reading Excel files
psycopg2-binary  # Required if using PostgreSQL
djangorestframework  # If using Django REST framework
